<ul class="film">
    <li class="" onclick="showmovie('{{idmovie}}')">
        <img class="" src="https://mmi.unilim.fr/~potevin1/SAE%202.03/client/asset/{{image}}"><br>
    </li>
    <li class="" onclick="showmovie('{{idmovie}}')">
        <p class="">Titre : {{titre}}</p><br>
    </li>

    <li class="">
        <p class="">Réalisation {{rea}}</p><br>
    </li>
    <li class="">
        <p class="">date de sortie : {{annee}}</p><br>
    </li>
    <li class="" onclick="addtoplaylist('{{idmovie}}')">
        <p class="">Ajouter au favoris +</p><br>
    </li>
</ul>  