.app {
    width: 100%;
    height: 100v;
    background: var(--clr-blackbg);
    background-size: cover;
}
.theme-toogle{
  position: fixed;
  top: 1.5rem;
  left: 40%;
  z-index: 1500;
  background-color: var(--clr-blackbg);
  color: var(--clr-white);
}
.switch {
  display: none;
}
.theme-toogle:has(.switch) ~ .footer, .theme-toogle:has(.switch) + .app .films-container, .theme-toogle:has(.switch) + .app{
  --clr-blackbg: var(--clr-background);
  --clr-white: var(--clr-foreground);
}
.theme-toogle:has(.switch:checked) ~ .footer, .theme-toogle:has(.switch:checked) + .app .films-container, .theme-toogle:has(.switch:checked) + .app{
  --clr-blackbg: var(--clr-foreground);
  --clr-white: var(--clr-background);
}
.theme-toogle:has(.switch:checked) + .app .nav, .theme-toogle:has(.switch:checked) + .app .carousel-container {
  --clr-blackbg: var(--clr-background);
  --clr-white: var(--clr-foreground);
}
.films-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
}
.select, .select option, input, .select-film, .select-film option {
  color: var(--clr-blackbg);
}
.select {
  position: relative;
  color: var(--clr-white);
  font-family: Proxima Nova Regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .8px;
}
.select {
  display: block;
  z-index: 60;
  width: 100%;
  background-color: transparent;
  border: none; /* Retirer les bordures */
  border-radius: 4px;
  color: var(--clr-white);
  text-align: center;
  cursor: pointer;
  appearance: none; /* Supprimer l'apparence native */
  -webkit-appearance: none; /* Pour Safari */
  -moz-appearance: none; /* Pour Firefox */
}
.select::after {
  position: absolute;
  top: 50%;
  right: 15px;
  color: var(--clr-grey);
  pointer-events: none; /* Empêche la flèche d'être cliquable */
  content: '▼'; /* Flèche personnalisée */
  transform: translateY(-50%);
}
.logo {
  display: none;
  width: 18rem;
}
.app {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.categorie-labelle {
  width: 70%;
}
.scrollbtn {
  opacity: 0; /* masqué par défaut */
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 500;
  width: 50px;
  height: 50px;
  background-color: var(--clr-lightBlue);
  border: none;
  border-radius: 50%;
  color: var(--clr-white);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; /* transition smooth */
}

.scrollbtn.show {
  opacity: 1; /* visible lorsqu'il a la classe .show */
}

.carousel-container {
  position: relative;
  width: 100%; /* Largeur du carrousel */
  height: 100vh;
  
  overflow: hidden;
}
.carousel-shadow {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: inset 0px 0px 50px 50px var(--clr-black); 
  box-shadow: inset 0px 0px 50px 50px var(--clr-black);
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  /*height: 100%;*/
  gap: 2rem;
}

.carousel-item {
  position: relative;
  z-index: 10;
  width: 30rem;
  height: 100%;
  margin: 0;
  flex: 0 0 auto;
}
.carousel-item .film__title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 12rem;
  left: 3rem;
  height: 4rem;
  font-size: 3rem;
  font-weight: 900;
}
.carousel-item .film__realisation{
  position: absolute;
  bottom: 10rem;
  left: 3rem;
}
.carousel-item .film__release{
  position: absolute;
  bottom: 10rem;
  left: 18rem;
}
.carousel-item .playlist-del, .carousel-item .playlist-add{
  position: absolute;
}
.carousel-item .film__cover{
  height: 100%;
}

.carousel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--clr-halfblack);
  border: none;
  color: var(--clr-white);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(-50%);
}

.carousel-btn:hover {
  background-color: var(--clr-07black);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
.input-group-text{
display: flex;
align-items: center;
border: transparent;
color: var(--clr-white);
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
text-align: center;
white-space: nowrap;
}
.input-group{
display: flex;
align-items: stretch;
position: relative;
width: 35%;
height: 8%;
flex-wrap: wrap;
}

.searchbar {
display: block;
width: 80%;
padding: 0.375rem 0.75rem;
background-color: transparent;
border: transparent;
color: var(--clr-white3);
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
text-transform: uppercase;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-clip: padding-box;
}
input[type="text"]:focus + .input-group-text,
input[type="text"]:focus  {
  border-bottom: 1px solid var(--clr-grey);
  outline: none;
}
.input-group {
  display: flex;
  flex-direction: row-reverse;
}


.categorie-labelle{
  width: 35%;
}

.text{
  opacity: 1;
  position: relative;
  width: 75%;
  color: var(--clr-white);
  font-family: Proxima Nova Regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .8px;
}
.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6rem 10rem;
  background-color: var(--clr-blackbg);
  gap: 4rem;
}
.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13rem;
}
.footer__categorie{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__categorie-title{
  padding-bottom: 1rem;
  color: var(--clr-white2);
  font-size: 14px;
}
.footer__categorie-link{
  color: var(--clr-grey2);
  font-size: 12px;
}
.footer__categorie-link:hover{
  color: var(--clr-white2);
  font-size: 12px;
}
.footer__icons-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer__icons-container .footer__categorie-item .footer__categorie-link svg {
  width: 20px;
  height: 20px;
  fill: var(--clr-grey2);
}
.footer__icons-container .footer__categorie-item .footer__categorie-link:hover svg {
  fill: var(--clr-white4);
}
.footer__credits {
  color: var(--clr-grey2);
  font-size: 12px;
}

.button {
  display: grid;
  align-items: center;
  position: relative;
  width: 15%;
  height: 35px;
  overflow: hidden; 
  border: none;
  outline: none;
  color: var(--clr-white);
  cursor: pointer;
  min-width: 11rem;
}
.button-bg{
  display: flex;
  position: absolute;
  top: 1px;
  z-index: 1;
  width: 220%;
  height: 100%;
  background-image: linear-gradient(-45deg, var(--clr-lightBlue), var(--clr-blue), var(--clr-lightBlue));
  transition: transform 0.5s ease;
  justify-self: flex-start;
}
.button:hover .button-bg {
  transition: transform 0.5s ease;
  transform: translateX(-10rem);
}
.button-txt{
  position: relative;
  z-index: 2;
  background-color: transparent;
  justify-self: center;
}
.nav-burger {
  display: block;
  display: block;
  position: fixed;
  top: 1rem;
  left: 40px;
  z-index: 3;
  width: 40px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
.check:checked ~ .nav__left {
  transition: .3s ease-in-out;
  transform: translateY(50%);
}
.check:checked + .nav-burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check:checked + .nav-burger .top {
  top: 25%;
  left: 25%;
  rotate: 45deg;
}
.check:checked + .nav-burger .bottom {
  top: 95%;
  left: 25%;
  rotate: -45deg;
}
.check:checked + .nav-burger .middle {
  opacity: 0;
  top: 25%;
  left: 25%;
  rotate: 45deg;
}
.check {
  display: none;
}

.bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background: var(--clr-white);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.bar.middle {
  opacity: 1;
  top: 15px;
}

.bar.bottom {
  top: 30px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.profiles-containers{
  width: 8rem;
  height: 2rem;
}
.profiles-labelle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2rem;
}
.profiles-containers + .button-bg {
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
}
.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.nav {
  position: relative;
  z-index: 300;
  width: 100%;
  height: 4rem;
}
.nav-bg {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: var(--clr-background);
}
.nav__left {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10% 0;
  background-color: var(--clr-background);
  transition: .3s ease-in-out;
  transform: translateY(-50%);
  gap: 1rem;
}
.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 35%;
  gap: 1rem;
  flex-wrap: wrap-reverse;
}
@media (min-width: 75rem) {
  .burger-container {
    flex-direction: row;
  }
.nav-burger {
  display: none;
}
.nav__right {
  width: 25%;
  flex-wrap: nowrap;
}
.nav__right, .nav__left {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.nav__labelle .button-bg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.categorie-labelle {
  width: 15%;
}
.nav__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: -3rem;
  height: 5rem;
  padding: 0;
  transform: translateY(50%);
  gap: 0;
}
.nav-bg {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 4rem;
  padding: 1rem 1rem;
  background-color: var(--clr-background);
  -webkit-box-shadow: 0px 20px 7px -1px var(--clr-black); 
  box-shadow: 0px 20px 7px -1px var(--clr-black);
  min-height: 1rem;
  gap: 1rem;
}
.theme-toogle{
  top: 2rem;
  left: 58%;
}
.nav__labelle{
 display: flex;
 justify-content: center;
 align-items: center;
  position: relative;
 width: 18%;
 height: 100%;
 overflow: hidden;
 flex-wrap: wrap;
}
.button {
  display: grid;
  align-items: center;
  position: relative;
  width: 15%;
  height: 35px;
  overflow: hidden; 
  border: none;
  outline: none;
  color: var(--clr-white);
  cursor: pointer;
  min-width: 11rem;
}
.input-group {
  width: 20%;
  height: 50%;
  min-width: 16rem;
}
.profiles-labelle {
  width: 30%;
}
.button-bg{
  display: flex;
  position: absolute;
  top: 1px;
  z-index: 1;
  width: 220%;
  height: 100%;
  background-image: linear-gradient(-45deg, var(--clr-lightBlue), var(--clr-blue), var(--clr-lightBlue));
  transition: transform 0.5s ease;
  justify-self: flex-start;
}
.button:hover .button-bg {
  transition: transform 0.5s ease;
  transform: translateX(-10rem);
}
.button-txt{
  position: relative;
  z-index: 2;
  background-color: transparent;
  justify-self: center;
}

.logo {
  display: block;
  width: 18rem;
}
}
