.film__trailer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: var(--clr-white);
  gap: 0.5rem;
  list-style: none;
}
.film__commentaire {
  width: 95%;
  height: 95%;
  background-color: var(--clr-blackbg);
  border: 1px solid var(--clr-white);
  border-radius: 10px;
  color: var(--clr-white);
}
.film__commentaire-bg{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, var(--clr-lightBlue), var(--clr-blue), var(--clr-lightBlue));
  border-radius: 5px;
}
.commentaire-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10rem;
  height: 5rem;
}
.commentaires {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  color: var(--clr-white);
  gap: 1rem;
}
.film__release {
  width: 25%;
}
