<ul class="film">
    <li class="" onclick="showmovie('{{idmovie}}')">
        <img src="{{image}}"><br>
    </li>
    <li class="" onclick="showmovie('{{idmovie}}')">
        <p class="">Titre : {{titre}}</p><br>
    </li>

    <li class="">
        <p class="">Réalisation {{rea}}</p><br>
    </li>
    <li class="">
        <p class="">date de sortie : {{annee}}</p><br>
    </li>
    <li class="" onclick="deletefromplaylist('{{idmovie}}')">
        <p class="">retirer le film des favoris -</p><br>
    </li>
</ul>  