body {
    background-size: cover;
    background: var(--clr-blackbg);
}
.films-container{
  width: 90%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
}
.select, .select option, input {
  color: var(--clr-blackbg);
}

.redirection{
  text-decoration: none;
  text-align: center;
  top: 2rem;
  right: 2rem;
  position: absolute;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  background-color: brown;
  border: 1px solid red;
}