body {
    background: var(--clr-blackbg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gestionnaire{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 100%;
    top: 0;
    align-self: center;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
input[type=checkbox]{
    display: none;
}
.redirection{
    text-decoration: none;
    text-align: center;
    top: 2rem;
    left: 2rem;
    position: absolute;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    background-color: brown;
    border: 1px solid red;
}
/* CSS pour désactiver la visibilité des autres classes lorsque la checkbox est cochée */
.gestionnaire__film-box:checked ~ .gestionnaire__profil,
.gestionnaire__film-box:checked ~ .gestionnaire__commentaire{
    display: none;
}

.gestionnaire__profil-box:checked ~ .gestionnaire__film,
.gestionnaire__profil-box:checked ~ .gestionnaire__commentaire{
    display: none;
}
.gestionnaire__commentaire-box:checked ~ .gestionnaire__film,
.gestionnaire__commentaire-box:checked ~ .gestionnaire__profil {
    display: none;
}

.gestionnaire__profil-box:checked + .gestionnaire__profil-labelle {
    display: flex;
    flex-shrink: 0;
    border: 2px solid red;
    background-color: brown;
}
.gestionnaire__commentaire-box:checked + .gestionnaire__commentaire-labelle {
    display: flex;
    flex-shrink: 0;
    border: 2px solid red;
    background-color: brown;
}
.gestionnaire__film-box:checked + .gestionnaire__film-labelle {
    display: flex;
    flex-shrink: 0;
    border: 2px solid red;
    background-color: brown;
}
.gestionnaire__profil-labelle, .gestionnaire__film-labelle, .gestionnaire__commentaire-labelle{
    display: flex;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.gestionnaire__profil, .gestionnaire__film, .gestionnaire__commentaire{
    border: 2px solid red;
    background-color: brown;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 69.3%;
}
.gestionnaire__film {
    top: 0;
}
.gestionnaire__profil {
    top: -11.45rem;
}
.gestionnaire__commentaire {
    top: -11.45rem;
}
.logo {
  width: 25rem;
  height: 5.5rem;
  margin: 0 50%;
}