body {
    background: var(--clr-blackbg);
}

nav {
    width:30rem;
    margin-left:15rem;
    margin-top: 4rem;
    text-align: center;
}

nav h1 {
    font-size: xx-large;
}


form {
    width:30rem;
    margin-left:15rem;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

form select {
    font-size: medium;
    border-style: none;
}

form input, select {
    margin-top: 1rem;
    font-size: medium;
    border-style: none;
    display: inline-block;
    height: 2rem;
}

form input[type=submit] {
    background-color: rgb(151, 92, 36);
   
}

form h3 {
    border-bottom-style:solid;
    border-width: 1px;
    height: 1.5em;
}

.gestionnaire{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
input[type=checkbox]{
    visibility: hidden;
}
/* CSS pour désactiver la visibilité des autres classes lorsque la checkbox est cochée */
.gestionnaire__film-box:checked ~ .gestionnaire__profil,
.gestionnaire__film-box:checked ~ .gestionnaire__commentaire{
    display: none;
}

.gestionnaire__profil-box:checked ~ .gestionnaire__film,
.gestionnaire__profil-box:checked ~ .gestionnaire__profil {
    display: none;
}
.gestionnaire__commentaire-box:checked ~ .gestionnaire__film,
.gestionnaire__commentaire-box:checked ~ .gestionnaire__commentaire {
    display: none;
}
